a.qualifyMintAnchor img.qualifyIdle{
    display: block;
    margin: 0 auto;
}
a.qualifyMintAnchor.hoveredQualifyMint img.qualifyIdle {
    display: none;
}
a.qualifyMintAnchor img.qualifyActive{
    display: none;
}
a.qualifyMintAnchor.hoveredQualifyMint img.qualifyActive {
    display: block;
    margin: -15px -3px -2px 3px;
}
.qualifyMintWrap {
    display: inline-block;
    margin: 79px auto 0;
    position: relative;
}
.contentWrap h2 {
    font-size: 101px;
    margin: 0;
    color: #fff;
    text-transform: uppercase;
    -webkit-text-stroke: 1.5px;
    -webkit-text-stroke-color: #000;
    margin-top: 20px;
}
.contentWrap h4 {
    font-size: 46px;
    color: #fff;
    margin-bottom: 10px;
    margin-top: 60px;
    -webkit-text-stroke: 1.5px;
    -webkit-text-stroke-color: #000;
    position: relative;
    z-index: 1;
}
.qualifyMintWrap a.qualifyMintAnchor {
    position: relative;
    z-index: 2;
}
.qualifyMintWrap img.qualifyMintVector {
    width: 150px;
    position: absolute;
    bottom: 70px;
    right: 86px;
    z-index: 0;
}
.qualifyMintWrap.animationHovered img.qualifyMintVector {
    right: 100px;
}
.qualifyMintWrap img.qualifyFireVector {
    /* width: 150px; */
    position: absolute;
    bottom: -100px;
    right: -100px;
    z-index: 0;
}
.qualifyMintWrap.animationHovered img.qualifyFireVector {
    right: -86px;
}
