.aboutContentArea {
    background-image: url(../../assets/textbox.png);
    background-size: 1125px;
    background-position: center top;
    color: #fff;
    padding: 130px 130px 50px;
    margin-top: 18px;
}
.aboutContentArea p {
    margin: 0 auto 15px;
    font-size: 24px;
    line-height: 30px;
}
section.AboutContent {
    padding-top: 45px;
    position: relative;
    z-index: 1;
}
.aboutVectorsArea img.AboutImageRight {
    position: absolute;
    right: 0;
    width: 600px;
    margin: 90px 0 0 0;
}
.aboutVectorsArea img.AboutImageLeft {
    position: absolute;
    display: none;
}
section.AboutContent img.aboutTreeImg {
    position: absolute;
    left: 0;
    right: -140px;
    display: block;
    margin: -160px auto 0;
    z-index: 0;
}
.sectionHeading.text-center, .aboutContentArea.text-center {
    position: relative;
}
